/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.text-white { color: white !important; }

html {
    scroll-behavior: smooth !important;
}

.zero-margin-top {
    margin-top: 0 !important;
}

.pr-35px {
    padding-right: 35px !important;
}

@media (max-width: 768px) {
    /* Your styles here */
    .hero-image-sizer {
        height: 400px;
    }
}

@media (min-width: 769px) {
    .hero-image-sizer {
        height: 700px;
    }
}
